requests
multiprocess

numpy
pandas
scikit-learn
scipy
statsmodels
# rpy2==3.5.11

plotly
matplotlib
seaborn
umap-learn
networkx
netgraph
nxontology
tqdm
dash
dash-bootstrap-components
nbformat
pillow==10.4.0

scanpy
anndata

hdbscan==0.8.31 
numba
igraph
pydot
pydotplus
graphviz

pytest-cov
pytest-mock